html{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/4_Background/nature_4/origbig.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
}

canvas{
    background-color: black;
    display: block;
}

.canvasContainer{
    background-color: rgba(0, 0, 0, 0.221);
}

@media screen and (max-width: 720px){
    canvas{
        width: 100%;
    }
}

@media screen and (max-height: 480px){
    canvas{
        height: 100vh;
    }
}