html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/4_Background/nature_4/origbig.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    overflow: auto;
}

.canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 480px;
    max-width: 720px;
    width: 100%;
    aspect-ratio: 1.5;
    position: relative;
}

canvas {
    background-color: black;
    display: block;
    z-index: 1;
    position: absolute;
}

.homeScreen {
    position: absolute;
    max-height: 480px;
    max-width: 720px;
    aspect-ratio: 1.5;
    width: 100%;
    background-image: url(img/4_Background/nature_1/HOMESCREEN.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
}

.endScreenSuccess {
    position: absolute;
    max-height: 480px;
    max-width: 720px;
    height: 100%;
    width: 100%;
    background-image: url(img/4_Background/nature_1/endscreensuccess.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
}

.endScreenDead {
    position: absolute;
    max-height: 480px;
    max-width: 720px;
    height: 100%;
    width: 100%;
    background-image: url(img/4_Background/nature_1/endscreendead.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
}

.buttonOverlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    aspect-ratio: 1.5;
    z-index: 3;
    pointer-events: none;
}

.buttonOverlayTopRow {
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.settings {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    margin-right: 5px;
}

.soundOff {
    background-image: url('img/0_Icons/sound-on.svg');
}

.soundOn {
    background-image: url('img/0_Icons/sound-off.svg') !important;
}

.minimize {
    background-image: url('img/0_Icons/minimize.svg') !important;
}

.maximize {
    background-image: url('img/0_Icons/maximize.svg');
}

#settingHome {
    background-image: url('img/0_Icons/home.svg');
}

#tapLeft {
    background-image: url('img/0_Icons/arrowRight.svg');
}

#tapUp {
    background-image: url('img/0_Icons/arrowUp.svg');
}

#tapRight {
    background-image: url('img/0_Icons/arrowLeft.svg');
}

#tapRun {
    background-image: url('img/0_Icons/run.svg');
}

#tapAttack {
    background-image: url('img/0_Icons/sword.svg');
}

#tapPowershot {
    background-image: url('img/0_Icons/spell-book.svg');
    background-color: white;
}

.buttonOverlayBottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.buttonOverlayBottomRowLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-left: 5px;
}

.buttonOverlayBottomRowRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-right: 5px;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    pointer-events: all;
}

.iconSetting {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    pointer-events: all;
}

.dnone {
    display: none !important;
}

.fullscreen {
    position: absolute !important;
    width: 100% !important;
    aspect-ratio: 1.5;
    max-width: 100%;
    max-height: 100%;
    background-size: 100% 100% !important;
    margin: 0 !important;
}

.dialog {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogText {
    font-size: 40px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.headline {
    font-family: 'Metal Mania';
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 0;
    text-shadow: rgb(13, 13, 182) 1px 0 10px;
}

.description {
    font-family: 'Metal Mania';
    font-size: 20px;
    margin-top: 10px;
    color: rgb(92, 18, 33);
    background-color: rgba(255, 255, 255, 0.587);
    width: 460px;
    border-radius: 4px;
    padding: 5px;
}

@media screen and (min-width: 460px) {
    .dialog {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .icon {
        height: 40px !important;
        width: 40px !important;
    }
}

@media screen and (max-height: 600px) {
    .canvasContainer {
        width: 460px;
    }

    canvas {
        width: 460px;
    }

    .headline,
    .description {
        display: none;
    }

    .icon {
        height: 40px !important;
        width: 40px !important;
    }
}

@media screen and (max-width: 720px) {

    canvas,
    .endScreenSuccess,
    .endScreenDead,
    .homeScreen {
        width: 100%;
    }
}

@media screen and (min-width: 1380px) {
    .buttonOverlayBottomRowRight,
    .buttonOverlayBottomRowLeft {
        display: none !important;
    }
}

a{
    font-family: 'Metal Mania';
    text-decoration: none;
    color: rgb(92, 18, 33);
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.587);
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}